@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    font-family: 'Rajdhani', sans-serif;
}
    
/* Header */
.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .logo { grid-area: 1 / 1 / 2 / 2; }
    .titre { grid-area: 1 / 2 / 2 / 7; }
    .vn { grid-area: 2 / 1 / 3 / 3; }
    .la { grid-area: 2 / 3 / 3 / 5; }
    .ing { grid-area: 2 / 5 / 3 / 7; }
    
    
        
    
    .logo img{
        width: 50px;
        height: 50px;
    }
    .logo{
        background-color: #8FB43A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titre{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8FB43A;
    }
    @media screen and (max-width: 1200px){
        .titre img{ width: 200px !important;}
        
    }
    .titre img{
        width: 600px;
    }
    .vn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7CE66;
        color: black;
    
    }
    .la{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7CE66 ;
        color: black;
    }
    .ing{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7CE66;
        color: black;
    }

    .ing:hover {
        background-color: #C8D6A2;
    }
    .la:hover {
        background-color: #C8D6A2;
    }
    .vn:hover {
        background-color: #C8D6A2;

    }
    .logo:hover{
        background-color: #C8D6A2;
    }

.ing a{
    text-decoration: none;
    text-shadow: 2px 2px 2px wheat;


}
.vn a{
    text-decoration: none;
    text-shadow: 2px 2px 2px wheat;

}
.la a{
    text-decoration: none;
    text-shadow: 2px 2px 2px wheat;

}

header{
    height: 110px;
}

/*Page d'accueil*/

.paragraphe1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.paragraphe1 p{ grid-area: 3 / 1 / 4 / 4; }

.paragraphe2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.paragraphe2 p{ grid-area: 5 / 4 / 6 / 7; }
        

    .parallaxe{
        background-attachment: fixed;
        background-position:center ;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .parallaxe{
        background-image: url(parallax\ background.webp);
        border: #C8D6A2 solid 5px;
    }
    body{
        background-image: url(texture\ terre.jpg);
        background-size: 30px;
    }
    .paragraphe1 p{
        background-color: #D9D9D9;
        border: #C8D6A2 solid 5px;
        height: 200px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .paragraphe2 p{
        height: 150px;
        background-color: #D9D9D9;
        border: #C8D6A2 solid 5px;
        font-size: 20px;
        display: flex;
        align-items: center;

    }

    .paragraphe1{
        height: 300px;

    }
   
    .paragraphe2{
        height: 200px;


    }
    @media screen and (max-width: 1200px) {
        .paragraphe1 p{
            font-size: 9px !important;
        }
        
    }
    @media screen and (max-width: 1200px) {
        .paragraphe2 p{
            font-size: 9px !important;
        }
        
    }


    /*Footer*/


    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: url(texture\ bedrock.jpg);
        background-size: 20px;
        color: white;
        height: 100px;
        margin-top: 20px;
    }

    