@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}
    
/* Header */
.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .logo { grid-area: 1 / 1 / 2 / 2; }
    .titre { grid-area: 1 / 2 / 2 / 7; }
    .vn { grid-area: 2 / 1 / 3 / 3; }
    .la { grid-area: 2 / 3 / 3 / 5; }
    .ing { grid-area: 2 / 5 / 3 / 7; }
    
    
    .nav{
            position: fixed;
            width: 100%;
            z-index: 1;
        }
    
    .logo img{
        width: 50px;
        height: 50px;
    }
    .logo{
        background-color: #8FB43A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titre{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8FB43A;
    }
    @media screen and (max-width: 1200px){
        .titre img{ width: 200px !important;}
        
    }
    .titre img{
        width: 600px;
    }
    .vn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7CE66;
        color: black;
    
    }
    .la{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7CE66 ;
        color: black;
    }
    .ing{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7CE66;
        color: black;
    }

    .ing:hover {
        background-color: #C8D6A2;
    }

    .la:hover {
        background-color: #C8D6A2;
    }
    .vn:hover {
        background-color: #C8D6A2;

    }
    .logo:hover{
        background-color: #C8D6A2;
    }

.ing a{
    text-decoration: none;
    text-shadow: 2px 2px 2px wheat;


}
.vn a{
    text-decoration: none;
    text-shadow: 2px 2px 2px wheat;

}
.la a{
    text-decoration: none;
    text-shadow: 2px 2px 2px wheat;

}

header{
    height: 110px;
}


    /*Footer*/


    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: url(texture\ bedrock.jpg);
        background-size: 20px;
        color: white;
        height: 100px;
        margin-top: 20px;
    }
    
body{
    background-image: url(texture\ terre.jpg);
    background-size: 20px;
}
.parent1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100px;

    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }

.div1{
    display: flex;
    background-color: #8b8b8b;
    border: solid 3px white;
    background: rgb(200,214,162);
background: linear-gradient(90deg, rgba(200,214,162,1) 0%, rgba(183,206,102,1) 66%, rgba(143,180,58,1) 100%);
    
}    

.tableaux {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(39, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 400px;
    }
    
    .L1 { grid-area: 1 / 1 / 2 / 5; }
    .L2 { grid-area: 2 / 1 / 3 / 5; }
    .L3 { grid-area: 3 / 1 / 4 / 5; }
    .L4 { grid-area: 4 / 1 / 5 / 5; }
    .L5 { grid-area: 5 / 1 / 6 / 5; }
    .L6 { grid-area: 6 / 1 / 7 /5; }
    .L7 { grid-area: 7 / 1 / 8 /5; }
    .L8 { grid-area: 8 / 1 / 9 / 5; }
    .L9 { grid-area: 9 / 1 / 10 / 5; }
    .L10 { grid-area: 10 / 1 / 11 / 5; }
    .L11 { grid-area: 11 / 1 / 12 / 5; }
    .L12 { grid-area: 12 / 1 / 13 / 5; }
    .L13 { grid-area: 13 / 1 / 14 / 5; }
    .L14 { grid-area: 14 / 1 / 15 / 5; }
    .L15 { grid-area: 15 / 1 / 16 / 5; }
    .L16 { grid-area: 16 / 1 / 17 / 5; }
    .L17 { grid-area: 17 / 1 / 18 / 5; }
    .L18 { grid-area: 18 / 1 / 19 / 5; }
    .L19 { grid-area: 19 / 1 / 20 / 5; }
    .L20 { grid-area: 20 / 1 / 21 / 5; }
    .L21 { grid-area: 21 / 1 / 22 / 5; }
    .L22 { grid-area: 22 / 1 / 23 / 5; }
    .L23 { grid-area: 23 / 1 / 24 / 5; }
    .L24 { grid-area: 24 / 1 / 25 / 5; }
    .L25 { grid-area: 25 / 1 / 26 / 5; }
    .L26 { grid-area: 26 / 1 / 27 / 5; }
    .L27 { grid-area: 27 / 1 / 28 / 5; }
    .L28 { grid-area: 28 / 1 / 29 / 5; }
    .L29 { grid-area: 29 / 1 / 30 / 5; }
    .L30 { grid-area: 30 / 1 / 31 / 5; }
    .L31 { grid-area: 31 / 1 / 32 / 5; }
    .L32 { grid-area: 32 / 1 / 33 / 5; }
    .L33 { grid-area: 33 / 1 / 34 / 5; }
    .L34 { grid-area: 34 / 1 / 35 / 5; }
    .L35 { grid-area: 35 / 1 / 36 / 5; }
    .L36 { grid-area: 36 / 1 / 37 / 5; }
    .L37 { grid-area: 37 / 1 / 38 / 5; }
    .L38 { grid-area: 38 / 1 / 39 / 5; }
    .L39 { grid-area: 39 / 1 / 40 / 5; }


.tableaux section {
    display: flex;
    flex-direction: row;
    background-color: #8b8b8b;
    border: solid white;
    background: rgb(200,214,162);
    background: linear-gradient(90deg, rgba(200,214,162,1) 0%, rgba(183,206,102,1) 66%, rgba(143,180,58,1) 100%);
    
    

    .nom{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 350px;

    }
div{
        border: solid 1px white;
    }

    .icone{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 350px;
        
    }

    .faimrestaurée{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 350px;
        

    }

    .saturationrestaurée{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 350px;
      
    }

    .commentobtenir{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 800px;
        
    }
}

.tableaux img{
    width: 45px;
}

.Tableaux2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .T1 { grid-area: 1 / 1 / 2 / 4; }
    .T2 { grid-area: 2 / 1 / 3 / 4; }
    .T3 { grid-area: 3 / 1 / 4 / 4; }
    .T4 { grid-area: 4 / 1 / 5 / 4; }
    .T5 { grid-area: 5 / 1 / 6 / 4; }
    .T6 { grid-area: 6 / 1 / 7 / 4; }
    .T7 { grid-area: 7 / 1 / 8 / 4; }
    .T8 { grid-area: 8 / 1 / 9 / 4; }
    .T9 { grid-area: 9 / 1 / 10 / 4; }
    .T10 { grid-area: 10 / 1 / 11 / 4; }
    .T11 { grid-area: 11 / 1 / 12 / 4; }







